@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

.container{
  display: flex;
  width: 1600px;
  margin: 0 auto;
}

.header{
  padding: 2vw;
  color: #FFF;
  height: 120px;
  display: flex;
  width: 100%;
  background: #72A0CB;
  position: sticky;
  top:0;
  z-index: 11;
}

.inner{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  gap: 10px;
}

.logo{
  display: flex;
  gap:10px;
  align-items: center;
  width: 90px;
}

.headerItems{
  display: flex;
  gap: 25px;
  align-items: center;
}

.headerItem{
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 1vw;
  height: 100%;
  align-items: center;
  display: flex;
  color: white;
  font-family: 'inter', sans-serif;
  font-size: 16px;
  font-style: bold;
  font-weight: 600;
  line-height: normal;
  transition: color 0.3s ease;
}
.headerItem:hover{
  color: rgb(219, 219, 219);
}
.headerButtons{
  display: flex;
  align-items: center;
  gap: 1vw;
  cursor: pointer;
}

/* Размеры контейнера */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* revert позволяет сбросить все стили HTML-элемента до базовых стилей браузера */
a,
button {
  cursor: revert;
}

/* не применять стили к спискам */
ol,
ul,
menu {
  list-style: none;
}

/* Изображения не должны выходить за пределы своего контейнера */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* удаляем интервалы между ячейками в таблицах, линия между ячейками отображается только одна */
table {
  border-collapse: collapse;
}



meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

pre {
  all: revert;
}


::-webkit-input-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}


::marker {
  content: "";
}


:where([hidden]) {
  display: none;
}


:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}



:where(dialog:modal) {
  all: revert;
}

html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  height: 100%;
}

header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.lock {
  overflow-y: hidden;
}

.reset {
  padding: 10px 20px;
  cursor: pointer;
}

.product {
  padding: 50px 0;
}
.product__info {
  margin-bottom: 40px;
}
.product__title {
  display: inline-block;
  font-size: 2rem;
  margin-right: 7px;
}
.product__title--gray {
  color: #b3b3b7;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 225px);
  width: 100%;
  max-width: 1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 40px;
  margin: 0 auto;
}

.card {
  width: 225px;
  min-height: 350px;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}
.card .card__label {
  padding: 4px 8px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #ff6633;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.card:hover {
  -webkit-box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
          box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}
.card__top {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 220px;
          flex: 0 0 220px;
  position: relative;
  overflow: hidden;
}
.card__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card__image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.card__image:hover > img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 10px;
}
.card__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.card__price {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.card__price:after {
  content: "₽";
  margin-left: 4px;
  position: relative;
}
.card__price--discount {
  font-weight: 700;
  font-size: 19px;
  color: #414141;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.card__price--discount::before {
  content: "Со скидкой";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}
.card__price--common {
  font-weight: 400;
  font-size: 17px;
  color: #606060;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.card__price--common::before {
  content: "Обычная";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}
.card__title {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #414141;
}
.card__title:hover {
  color: #ff6633;
}
.card__add {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  color: #70c05b;
  padding: 10px;
  text-align: center;
  border: 1px solid #70c05b;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-top: auto;
}
.card__add:hover {
  border: 1px solid #ff6633;
  background-color: #ff6633;
  color: #fff;
}

.cart {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #364364;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
  position: fixed;
  top: 50px;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 15px;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
          z-index: 99;
}
.cart:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.cart__num {
  position: absolute;
  background-color: #d62240;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  top: -5px;
  right: -5px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.33);
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-y: scroll;
}
.popup__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 800px;
  min-height: 300px;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative;
}
.popup__item {
  border-bottom: 1px solid #ddd;
  padding: 20px;
}
.popup__item:last-of-type {
  border-bottom: none;
}
.popup__title {
  font-size: 20px;
}
.popup__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.popup__product-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popup__product-image {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}
.popup__product-title {
  max-width: 300px;
  font-weight: 500;
}
.popup__product-price {
  font-size: 18px;
  margin-right: 15px;
}
.popup__product-delete {
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
  color: #d62240;
}
.popup__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 5px;
}
.popup__cost-title {
  margin-right: 15px;
  font-size: 20px;
  color: #364364;
  text-align: right;
}
.popup__cost-value {
  font-size: 20px;
}
.popup__close {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 20px;
  color: rgba(54, 67, 100, 0.7);
  font-size: 20px;
}
.popup__close:hover {
  color: rgb(54, 67, 100);
}
.popup--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.popup__item:last-of-type{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup__order-btn{
  background: #72A0CB;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  transition: .3s all ease;
  cursor: pointer;
}

.popup__order-btn:hover{
  opacity: 0.7;
}

.popup.sec .popup__container{
  justify-content: center;
  align-items: center;
}